.slider h3,
.slider h5,
.par_profil h3{
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

section{
  padding: 50px 0px;
}

footer{
  padding: 20px 0px;
}

.slider img,
.parallax img{
  filter:grayscale(0.5);
  opacity: 0.7 !important;
}

.besar{
  font-size: 20px;
}

.tombol{
  padding: 0px 100px;
}

.tomboldownload{
  padding: 0px 50px;
}

.bawah{
  padding: 150px 0px;
}

.gesergambar{
  padding: 50px 0px;
}

.geserbiaya{
  padding: 30px 0px;
}

.kotakbiaya{
  background-color: #7D8BD3;
  width : 180px;
  border: 1px solid #7D8BD3;
  padding: 9px;
  margin: 2px;
  color: #101010;
  text-align: center;
}

.tabs .tab a{
          color: #000000;
      } /*Black color to the text*/

      .tabs .tab a:hover {
          background-color:#eee;
          color:#000;
      } /*Text color on hover*/

      .tabs .tab a.active {
          background-color:#DDDDDD !important;
          color:#000;
      } /*Background and text color when a tab is active*/

      .tabs .indicator {
          background-color:#000;
      } /*Color of underline*/
